.mainContainerCart {
    margin-top: 80px;
}

.containerTitleCart {
    text-align: center;
    font-family: 'Montserrat';
}

.containerTitleCart>h1 {
    color: green;
}

.containerItemsCart {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1260px;
    margin: 0 auto;
}

.itemCart {
    width: 297px;
    margin: 10px;
    border: solid;
    border-width: 1px;
    border-color: #ffeb3b;
    padding: 18px 0px;
    box-shadow: 0px 0px 33px -5px rgba(0, 0, 0, 0.75);
}

.totalCartPay {
    width: 320px;
    margin: 75px 0px;
    display: flex;
    flex-direction: column;
}

.itemCart>div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
}

.itemCart>div:nth-child(1)>button {
    background: none;
    border: none;
    width: 25px;
    padding: 0px;
    outline: none;
    cursor: pointer;
    touch-action: manipulation;
}

.displayItemData>span:nth-child(1) {
    padding-right: 14px;
}

.itemCart>div:nth-child(1)>div {
    width: 25px;
    cursor: pointer;
    height: 25px;
}

.imageItemCart {
    display: flex;
    justify-content: center;
}

.imageItemCart>a {
    width: 50%;
}

.displayItemData {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    font-family: 'Montserrat';
}

.displayItemData>a {
    text-decoration: none;
    color: black;
}

.displayItemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cartList {
    max-width: 680px;
}

.cartList>h2 {
    font-family: 'Montserrat';
}

.containerButtonsCart {
    display: flex;
}

.containerButtonsCart>span {
    padding: 0px 7px;
}

.containerButtonsCart>button {
    border: none;
    touch-action: manipulation;
    outline: none;
    cursor: pointer;
    background-color: #adff2f;
    width: 38px;
    font-size: 21px;
}

.containerButtonsCart>button:nth-child(1) {
    border-radius: 200px 0 10px 200px;
}

.containerButtonsCart>button:nth-child(3) {
    border-radius: 0 200px 200px 0;
}

/* MODAL DE ELIMINAR CARRO */
.modalDeleteCart {
    width: 297px;
    margin: 10px;
    border: solid;
    border-width: 1px;
    border-color: #ff0000;
    padding: 18px 0px;
    box-shadow: 0px 0px 33px -5px rgb(255 0 0 / 75%);
    font-family: 'Montserrat';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 372px;

}

.modalDeleteCart>a {
    width: 148px;
    margin-top: 39px;
}

.modalDeleteCart>span {
    padding: 22px 0px;
    text-align: center;
    width: 90%;
}

.modalDeleteCart>div>button {
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 20px;
    margin: 0px 20px;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
}

.modalDeleteCart>div>button:nth-child(1) {
    background: #ff1100;
    padding: 14px;
}

.modalDeleteCart>div>button:nth-child(2) {
    background: #4caf50;
    padding: 14px 17px;
}

/* TERMINA AQUI LA MAQUETACION DE LA MODAL */

.containerDescuento>form>div:nth-child(1) {
    display: flex;
    justify-content: center;
}

.containerDescuento>form>div:nth-child(1)>div {
    width: 22px;
}

.containerDescuento>form {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 17px;
}

.containerDescuento>form>input:nth-child(2) {
    border: 1px solid yellowgreen;
    padding: 10px 0px;
    margin: 10px 0px;
    outline: none;
    text-align: center;
    touch-action: manipulation;
}

.containerDescuento>form>button:nth-child(3) {
    border: none;
    border-radius: 0px;
    padding: 5px 0px;
    margin: 10px 0px;
    width: 100%;
    font-family: Montserrat;
    color: white;
    background-color: rgb(241, 197, 69);
    touch-action: manipulation;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    height: 28px;
}

.notificationDesc {
    justify-content: center;
    display: flex;
}

.notificationDesc>div {
    width: 22px;
}

.carroVacio {
    font-family: 'Montserrat';
    text-align: center;
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
}

.carroVacio>div {
    width: 154px;
}

.carroVacio>a {
    background-color: rgb(241, 197, 69);
    padding: 12px;
    font-weight: 900;
    color: white;
    margin-left: 14px;
    text-decoration: none;
}

.containerResumenCart {
    height: 467px;
    background-color: rgb(246, 246, 246);
    font-family: Montserrat;
    color: rgb(58, 128, 29);
    margin: 48px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerResumenCart>hr {
    width: 70%;
    border: none;
    height: 1px;
    background-color: rgb(222, 222, 222);
}

.containerResumenCart>div {
    display: flex;
    width: 77%;
    margin: 24px 0px;
    justify-content: space-between;
}
.finalizarCompraButton{
    background-color: rgb(241, 197, 69);
    border: none;
    font-family: Montserrat;
    padding: 13px;
    margin: 0 auto;
    font-size: 16px;
    outline: none;
    width: 200px;
    color: white;
    touch-action: manipulation;
}