#sectionTitle {
    height: 500px;
    margin-top: 65px;
}

.titleImage {
    height: 100%;
    z-index: 1;
}


@media (max-width: 767px) {
    .containerTitle {
        position: absolute;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        color: aliceblue;
        margin-top: 121px;
    }

    .containerGreenText {
        width: 94%;
        display: flex;
        flex-direction: column;
        height: 168px;
        align-items: center;
        background-color: #0880009e;
        font-family: 'Montserrat';
        font-size: 13px;
    }

    .buttonSectionOne {
        margin: 85px 0px 0px 0px;
        background: #088000d9;
        padding: 14px;
        border-color: aliceblue;
        border-radius: 100px 100px 100px 100px;
        touch-action: manipulation;
        outline: none;
    }

    .buttonSectionOne>a {
        color: white;
        text-decoration: none;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .containerTitle {
        position: absolute;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        color: aliceblue;
        margin-top: 121px;
    }

    .containerGreenText {
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 220px;
        align-items: center;
        background-color: #0880009e;
        font-family: 'Montserrat';
        font-size: 21px;
    }

    .buttonSectionOne {
        margin: 85px 0px 0px 0px;
        background: #088000d9;
        padding: 14px;
        border-color: aliceblue;
        border-radius: 100px 100px 100px 100px;
        touch-action: manipulation;
        outline: none;
    }

    .buttonSectionOne>a {
        color: white;
        text-decoration: none;
    }
}


@media (min-width: 1025px) {
    .containerTitle {
        position: absolute;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        color: aliceblue;
        margin-top: 86px;
    }

    .containerGreenText {
        width: 94%;
        display: flex;
        flex-direction: column;
        height: 279px;
        align-items: center;
        background-color: #0880009e;
        font-family: 'Montserrat';
        font-size: 27px;
    }

    .buttonSectionOne {
        margin: 85px 0px 0px 0px;
        background: #088000d9;
        padding: 14px;
        border-color: aliceblue;
        border-radius: 100px 100px 100px 100px;
        touch-action: manipulation;
        outline: none;
    }

    .buttonSectionOne>a {
        color: white;
        text-decoration: none;
    }
}