nav {
    width: 100%;
    top: 0px;
    z-index: 101;
    position: fixed;
    background-color: #0880009e;
}

nav>div:nth-child(2) {
    width: 171px;
}

.ulProductos>li>a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.ulProductos>li>a>div {
    text-decoration: none;
    color: black;
    width: 22px;
}

.carrito>a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.carrito>a>div {
    width: 28px;
}

.cartLi>a>div {
    width: 40px;
}

.buttonProducts>div {
    width: 15px;
}

.buttonMenu>div {
    width: 26px;
}

.cartNoti {
    height: auto;
    background: #ffffff;
    position: fixed;
    border: solid;
    z-index: 18;
    border-color: yellow;
    border-style: dotted;
    top: 65px;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat';
    right: 1px;
    display: none; 

}

.cartNoti>button {
    background: none;
    border: none;
    font-size: 24px;
    outline: none;
    touch-action: manipulation;
    cursor: pointer;
    position: absolute;
    right: 0px;

}

.cartNoti>img {
    width: 50%;
    margin-top: 27px;
}

.cartNoti>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
    justify-content: center;
}

.cartLi>a {
    border-top-color: #33ff0057;
    border-top-style: solid;
    padding-top: 11px;
    display: flex;
    align-items: center;
}

.cartNoti>div>a {
    text-decoration: none;
    color: white;
    background: #FFC107;
    border-radius: 24px;
    padding: 5px;
    margin: 24px 0px;
}
.cartLi{
    padding-bottom: 200px;
}
@media (max-width: 767px) {
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    nav {

        height: 65px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .listadoNavBar>li>a {
        text-decoration: none;
        color: black;


    }

    .buttonMenu {
        margin-top: 0px;
        padding: 0px;
        background: none;
        border: none;
        touch-action: manipulation;
        outline: none;
    }

    .buttonMenu>img {
        width: 23px;
    }

    .listadoNavBar {
        position: absolute;
        left: 0px;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        margin-top: 19px;
        height: 100vh;
        background: white;
        overflow-y: scroll;
    }

    .showList {
        display: none
    }

    .showProducts {
        display: none;
    }

    .buttonProducts {
        margin-top: 0px;
        padding: 0px;
        background: none;
        border: none;
        touch-action: manipulation;
        outline: none;
        display: flex;
        cursor: pointer;
        justify-content: center;
    }

    .listadoNavBar>li {
        padding-left: 35px;
        margin-top: 18px;
    }

    .ulProductos {
        padding-bottom: 16px;
        list-style: none;
        padding-top: 10px;
        padding-left: 40px;
    }

    .ulProductos>li {
        margin-top: 10px;
    }

    .ulProductos>li>hr {
        width: 151px;
        margin: 0px;
    }

    .cartNoti {
        width: 50%;
    }


    
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    nav>:nth-child(1) {
        order: 2;
    }

    nav>:nth-child(2) {
        order: 1
    }

    nav>:nth-child(3) {
        order: 3
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    nav {

        height: 65px;
        display: flex;
        justify-content: space-around;

        align-items: center;
    }

    .buttonMenu {
        display: none;
    }

    .buttonMenu>img {
        width: 23px;
    }

    .listadoNavBar {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        align-items: center;
        overflow-y: scroll;
    }

    .listadoNavBar>li>a {
        text-decoration: none;
        color: white;


    }

    .showList {
        display: flex;
    }

    .showProducts {
        display: none;
    }

    .buttonProducts {
        margin-top: 0px;
        padding: 0px;
        background: none;
        border: none;
        touch-action: manipulation;
        outline: none;
        display: flex;
        cursor: pointer;
        justify-content: center;
    }

    .listadoNavBar>li {
        padding-left: 35px;

    }

    .ulProductos {
        top: 65px!important;
        width: 171px;
        height: 220px;
        background: white;
        position: absolute;
        box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.75);
    }

    .ulProductos>li {
        margin: 17px 0px 0px 10px;
    }

    .ulProductos>li>hr {
        width: 151px;
        margin: 0px;
    }



    .cartLi {
        display: none;
    }
    .cartNoti {
        width: 320px;
    }
}


@media (min-width: 1025px) {
    nav>:nth-child(1) {
        order: 2;
    }

    nav>:nth-child(2) {
        order: 1
    }

    nav>:nth-child(3) {
        order: 3
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    nav {

        height: 65px;
        display: flex;
        justify-content: space-around;

        align-items: center;
    }

    .buttonMenu {
        display: none;
    }

    .buttonMenu>img {
        width: 23px;
    }

    .listadoNavBar {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        align-items: center;
    }

    .listadoNavBar>li>a {
        text-decoration: none;
        color: white;


    }

    .showList {
        display: flex;
    }

    .showProducts {
        display: none;
    }

    .buttonProducts {
        margin-top: 0px;
        padding: 0px;
        background: none;
        border: none;
        touch-action: manipulation;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    .listadoNavBar>li {
        padding-left: 35px;

    }

    .ulProductos {
        top: 65px!important;
        width: 171px;
        height: 220px;
        background: white;
        position: absolute;
        box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.75);
    }

    .ulProductos>li {
        margin: 17px 0px 0px 10px;
    }

    .ulProductos>li>hr {
        width: 151px;
        margin: 0px;
    }



    .cartLi {
        display: none;
    }
    .cartNoti {
        width: 320px;
    }
}