@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.productsContainerItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.headerContainerTextProducts {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    align-items: center;
}


.headerContainerTextProducts>div:nth-child(1) {
    width: 100%;
    position: absolute;
    height: 440px;
}

.headerContainerTextProducts>div:nth-child(2) {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin-top: 50px;
    max-width: 870px;
    height: 348px;
    justify-content: center;
    background-color: #008000ab;
}

.headerContainerTextProducts>div:nth-child(2)>p {
    max-width: 85%;
    font-size: 21px;
    text-align: center;
}

.headerContainerTextProducts>div:nth-child(2)>p>button {
    background: none;
    border: none;
    color: #FFEB3B;
    padding: 0px 7px;
    font-size: 19px;
    outline: none;
    touch-action: manipulation;
    cursor: pointer;
}

.headerContainerTextProducts>div:nth-child(2)>h1 {
    color: white;
    font-size: 45px;
    font-weight: 100;
}


section>.headerContainerTextProducts>:nth-child(1) {
    font-size: 34px;
    color: #333;
    margin-bottom: 0px;
}

section>.headerContainerTextProducts {
    align-items: flex-start;
    margin-left: 30px;

}

section>.headerContainerTextProducts>hr {
    margin: 0px;
    width: 60px;
    height: 3px;
    border: none;
    background-color: green;
}

.item {
    width: 144px;
    font-family: 'Montserrat';
    border: solid;
    border-width: 1px;
    margin: 7px;
    border-color: #ffff0080;
    padding-bottom: 20px;
    box-shadow: 0px 0px 42px -12px rgba(0,0,0,0.75);
}

.item>div:nth-child(1) {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
}

.item>div:nth-child(1)>span:nth-child(4) {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.item>div:nth-child(1)>span:nth-child(4)>div {
    display: flex;
    width: 22px;
    justify-content: center;
}

.item>div:nth-child(1)>a {
    text-decoration: none;
    color: black;
    font-family: Pacifico;
    margin-bottom: 12px;
    font-size: 25px;
}

.buttonsDivContainer {
    display: flex;
    justify-content: space-evenly;
}

.buttonsDivContainer>:nth-child(1) {
    border-radius: 200px 0px 10px 200px;
    border: none;
    background-color: greenyellow;
    width: 38px;
    font-size: 21px;
    touch-action: manipulation;
    outline: none;
    cursor: pointer;
}

.buttonsDivContainer>:nth-child(3) {
    border-radius: 0px 200px 200px 0px;
    border: none;
    background-color: greenyellow;
    width: 38px;
    font-size: 21px;
    touch-action: manipulation;
    outline: none;
    cursor: pointer;
}
section{
    margin-top: 50px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .item {
        width: 197px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .item {
        width: 213px;
    }

    .buttonsDivContainer>:nth-child(1) {
        width: 55px;
    }
    
    .buttonsDivContainer>:nth-child(3) {
        width: 55px;
    }


}

@media (min-width: 1025px) {
    .item {
        width: 276px;
    }
    .buttonsDivContainer>:nth-child(1) {
        width: 70px;
    }
    
    .buttonsDivContainer>:nth-child(3) {
        width: 70px;
    }
}