.relatedProdsCont{
    display: flex;
    flex-wrap: wrap;
}
.relatedProdsCont>div{
    width: 129px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px 5px;
    justify-content: space-between;
}
.relatedProdsCont>div>span{
    margin: 9px 0px
}
.relatedProdsCont>div>a{
    width: 100%;
    background-color: #0880009e;
    text-decoration: none;
    color: white;
    padding: 9px 0px;
}